@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 47% 99%;
    --foreground: 0 0% 11%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 11%;
    --primary: 16 93% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 77% 16%;
    --secondary-foreground: 43 47% 99%;
    --muted: 24 6% 83%;
    --muted-foreground: 25 5% 45%;
    --accent: 143 22% 24%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 24 6% 90%;
    --input: 24 6% 90%;
    --ring: 16 93% 57%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
